include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include document_signer_for_pdf *.json
recursive-include document_signer_for_pdf *.md
recursive-include document_signer_for_pdf *.py
recursive-include document_signer_for_pdf *.txt
recursive-exclude document_signer_for_pdf *.pyc